!!!
html
	head
		title Barrier Busters

		<!-- Mobile app header data -->
		meta(name="apple-mobile-web-app-capable", content="yes")
		meta(name="viewport", content="width=device-width; initial-scale=1.0; user-scalable=0;")
		meta(name="apple-mobile-web-app-status-bar-style", content="black")
		link(rel="apple-touch-icon", href="img/icon.png")

		<!-- Stylesheets -->
		link(rel='stylesheet', href='/css/bootstrap.css')
		link(rel='stylesheet', href='/css/bootstrap-responsive.css')
		link(rel='stylesheet', href='/css/style.css')

		<!-- Fonts --> 
		//link(href='http://fonts.googleapis.com/css?family=Crimson+Text', rel='stylesheet', type='text/css')
		//link(href='http://fonts.googleapis.com/css?family=Allerta', rel='stylesheet', type='text/css')

		<!-- Javascript -->
		script(src='/js/json.js')
		script(src='/js/jquery-1.7.1.min.js')
		//Backbone 
		script(src='/js/underscore-min.js')
		script(src='/js/backbone-min.js'
		script(src='/js/backbone.localStorage-min.js')
		// Audio 
		script(src="/js/audio.js")
		script(src="/js/jsfx.js")
		script(src="/js/jsfxlib.js")
		script(src="/js/jsfxgui.js")
		// Three.js and webGL

		// Kinect support
		//script(src='/js/depth.js')
		// Core program
		script(src='/js/init.js')
	body
	!= body